<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>502344408321-kl740pp97b07v25e924acufaqfjvnps3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.502344408321-kl740pp97b07v25e924acufaqfjvnps3</string>
	<key>API_KEY</key>
	<string>AIzaSyDXqkeaWfpygVeC8rJasLfYtRqn2lX7ldo</string>
	<key>GCM_SENDER_ID</key>
	<string>502344408321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kakao.flutterKakaoClone</string>
	<key>PROJECT_ID</key>
	<string>kakao-clone-53515</string>
	<key>STORAGE_BUCKET</key>
	<string>kakao-clone-53515.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502344408321:ios:6cd9dd05dc8d77c549cf00</string>
</dict>
</plist>